*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #2d2d2d;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

body {
  margin: 0;
  overflow-x: hidden;
}

a{
	text-decoration: none;
	color: #bec6d5;
}

.fa {
	padding: 0px 10px;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.nav-header{
	position: fixed;
	background: #000000;
	color: #ffffff;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
}
.nav-container{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto; 
}

.nav-brand {
	margin:  10px 15px;
	font-size: 20px;
	flex-grow: 1;
}

.openspan {
	display: visible;
	font-size:30px;
	cursor:pointer; 
	color: #bec6d5;
}

.nav-list-items {
	flex-grow: 9;
 	max-height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #000000;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
	text-align:center;
}

.nav-list-items .closebtn {
	position: absolute;
	top: -18px;
	right: 15px;
	font-size: 36px;
	color: white;
}

.nav-list-items a{
	font-size: 16px;
	padding-top: 15px;
	display: block;
}

.top, .middletop, .middlebottom, .bottom {
	position: absolute;
	color: #bec6d5;
}

.top {
	top: -10px;
	left: 20px;
}

.middletop {
	top: 55px;
	left: 60px;
}

.middlebottom {
	top: 115px;
	left: 110px;
}

.bottom {
	top: 140px;
	left: 175px;
}

span {
	display: block;
	font-size: 10pt;
}

.introduction {
	background: #2d2d2d; 
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

/*large screen*/
@media screen and (min-width: 600px) {
	.introduction {
		margin: 0 auto;
		flex-direction: row;
	}
}

.introduction_photo {
	margin-top: 40px;
	width: 305px;
	height: 250px;
	border-bottom-style: dotted;
	border-right-style: dotted;
	border-color: red;
	display: flex;
	flex-flow: row wrap;
}

.me {
	flex: 40%;
	max-width: 100%;
}

.me h1 {
	margin-top: 0;
	font-size: 1.8rem;
	font-weight: 600; 
	color: #bec6d5;
	line-height: 1.2;
}

.introduction_about {
	width: 305px;
	height: 250px;
	color: #bec6d5;
	border-top-style: dotted;
	border-left-style: dotted;
	border-color: red;
}
/*large screen*/
@media screen and (min-width: 600px) {
	.introduction_about {
		margin-top: 40px;
	}
}

.social {
	display: flex;
    flex-direction: column;
    padding: 10px 25px;
}

.avatar {
	width:150px; 
	height:150px; 
	max-height: 100%;
	object-fit: cover;
	object-position: 0 0;
	border-radius: 16px;
	margin-right: 25px;
	margin-bottom: 15px;
}


.section {
	padding: 0.5em 1.5em;
	background: #fefefe; 
	max-width: 100%;
}

.others {
	margin-top: 20px;
}

/*large screen*/
@media screen and (min-width: 600px) {
	.section {
		padding: 0.5em 8em;
	}
}

.section_title {
	margin-bottom: -14px;
	padding-bottom: 0px;  
}

.section_title_link {
	color: #ff0000;
	background-color: #000000;
	font-size: 14px;
	border-radius: 5px;
	margin-left: 10px;
}

.article {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	/*padding-bottom: 15px;*/
	max-width: 100%;
}

.article_date {
	font-size: 12px;
	width: 70px;
}
/*large screen*/
@media screen and (min-width: 600px) {
	.article_date {
		font-size: 12px;
		width: 100px;
	}
}

.article_title {
	width: 250px;
}

/*large screen*/
@media screen and (min-width: 600px) {
	.article_title {
		width: 350px;
	}
}

.project {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 15px;
}

.project_link, .article_link {
	color: #000000;	
}

.project_link:hover, .article_link:hover {
	color: #ff0000;
}

.project_link i{
	font-size: 1.5em;
	padding-left: 0;
	padding-right: 10px;
}

.project_source {
	background-color: #bec6d5;
	color: #000000;
	border-radius: 4px;
	padding: 0 5px;
}

.container {
	color: #2d2d2d;
	margin: 10px 0px; 
}

.footer {
	bottom: 0;
	background-color: #000000;
	color: #ffffff;
	height: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.footer_links {
	margin-top: 15px;
	margin-bottom: 35px; 
}

.footer_links a {
	padding: 10px 10px;
	margin: 8px;
}