*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #2d2d2d;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

a{
	text-decoration: none;
	color: #bec6d5;
	/*padding: 0px 10px;*/
}

.fa {
	padding: 0px 10px;
}

.contact-para > a {
	color: #000000;
}
.contact-para > a:hover {
	color: #4caf50;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

.nav-header{
	position: fixed;
	background: #000000;
	color: #ffffff;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
}
.nav-container{
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto; 
}
.nav-brand {
	margin:  10px 15px;
	font-size: 20px;
	flex-grow: 1;
}

.openspan {
	display: visible;
	font-size:30px;
	cursor:pointer; 
	color: #bec6d5;
}

.nav-list-items {
	flex-grow: 9;
 	max-height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #000000;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 50px;
	text-align:center;
}

.nav-list-items .closebtn {
	position: absolute;
	top: -18px;
	right: 15px;
	font-size: 36px;
	color: white;
}

.nav-list-items a{
	font-size: 16px;
	padding-top: 15px;
	display: block;
}

.top, .middletop, .middlebottom, .bottom {
	position: absolute;
}

.top {
	top: -10px;
	left: 20px;
	color: #bec6d5;
}

.middletop {
	top: 55px;
	left: 60px;
	color: #bec6d5;
}

.middlebottom {
	top: 115px;
	left: 110px;
	color: #bec6d5;
}

.bottom {
	top: 140px;
	left: 175px;
	color: #bec6d5;
}

span {
	display: block;
	font-size: 10pt;
}

.introduction {
	background: #2d2d2d; 
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.photo {
	margin-top: 40px;
	width: 305px;
	height: 250px;
	border-bottom-style: dotted;
	border-right-style: dotted;
	border-color: red;
	display: flex;
	flex-flow: row wrap;
}

.my {
	flex: 40%;
	max-width: 100%;
}

.my h1 {
	margin-top: 0;
	font-size: 1.8rem;
	font-weight: 600; 
	color: #bec6d5;
	line-height: 1.2;
}
.about {
	width: 305px;
	height: 250px;
	color: #bec6d5;
	border-top-style: dotted;
	border-left-style: dotted;
	border-color: red;
}

.social {
	display: flex;
    flex-direction: column;
    padding: 10px 25px;
    /*flex-flow: row wrap;
    margin-bottom: 15px;*/
}

.avatar {
	width:150px; 
	height:150px; 
	max-height: 100%;
	object-fit: cover;
	object-position: 0 0;
	border-radius: 16px;
	margin-right: 25px;
	margin-bottom: 15px;
}

.skill-card {
	margin: 15px 10px;
  	box-shadow: 0 4px 8px 0 rgba(0.2, 0.4, 0.6, 0.8);
  	padding: 16px;
  	text-align: center;
  	background-color: #f1f1f1;
}

.section {
	padding: 0.5em 1.0rem;
	background: #fefefe; 
}

.section-header {
	text-align: center;
	margin: auto 0;
}

.top-container p {
	font-size: 17px;
	color: #000000;
	padding-top: 0;
	margin-top: 0;
}

.top-container h2 {
	font-size: 30px;
	color: #2d2d2d;
	margin-bottom: 0; 
}

.container {
	color: #2d2d2d;
	margin: auto 0;
	padding-bottom: 10px; 
}

.job-title h3 {
	font-weight: 800;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.job-title h4 {
	text-align: center;
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}

@media screen and (min-width: 600px) {
	.introduction {
		background: #2d2d2d;
		margin: 0 auto;
		height: 100vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
	}

	.photo {
		width: 305px;
		height: 250px;
		border-bottom-style: dotted;
		border-right-style: dotted;		
		border-color: red;
	}

	.about {
		width: 305px;
		height: 250px;
		margin-top: 40px;
		color: #bec6d5;
		border-top-style: dotted;
		border-left-style: dotted;
		border-color: red;
	}

	.jobflex, .skillflex, .projectflex{
		display: flex;
		flex-flow: row wrap;
		align-content: space-between;
		justify-content: space-between;
	}

  	.job {
    	flex: 50%;
    	max-width: 100%;
  	}
  	.skill-card{
  		margin: 15px 10px;
  		flex : 30%;
  		max-width: 100%; 
  	}

  	.small-container {
		display: flex;
		flex: 50%;
		justify-content: center;
	}

  	.small-container > form {
		max-width: 50%;
	}
  	
}

input[type=text], [type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.1rem;
  text-align: left;
  background: #fff;
  border-radius: 6px;
}

table a {
  font-weight: 800;
  color: #1d1e25;
  font-size: 1.25rem;
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
  padding: 28px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
  padding: 16px;
}

tbody tr:hover {
  background: -webkit-gradient(linear, left bottom, right top, from(#f6f6f7), to(#fefefe));
  background: linear-gradient(to top right, #f6f6f7, #fefefe);
}

thead {
  background: #1d1e25;
  color: #bec6d5;
  padding: 1rem;
  font-size: 1.25rem;
  border-bottom: 2px solid #ebecec;
  font-weight: 400;
}

thead >tr {
	color: #ffffff;
}

td, tr {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid #ebecec;
  color: #000000;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}